@font-face {
    font-family: Orbitron;
    src: url(static/Orbitron-VariableFont_wght.ttf) format('truetype');
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    height: 100%;
    @apply bg-white;
}

.timer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Orbitron', sans-serif;
    font-size: 75px;
    color: #d7ecff;
    text-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 15px #228dff,
        0 0 25px #228dff, 0 0 30px #228dff, 0 0 40px #228dff, 0 0 50px #228dff;
}
/*
@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #ddd;
        color: black;
    }
} */
